body{
    background: rgb(154, 245, 166);
    font: normal 14pt Arial;
}
header{
    color: black;
    font:bold 26pt Arial;
    margin-top: 30pt;
    margin-bottom: 10pt;
    text-align: center;
}
section{
    background: rgb(238, 238, 238);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);

}
footer{
    color: black;
    text-align: center;
    font-style: italic; 
}